.footer {
    background-color: #e9e0d8;
    padding: 20px;
    color: black;
}
.list-inline{
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
   display: inline;
   padding: 10px;
}
.list-inline i {
  font-size: 30px;
  color: rgb(0, 68, 51);
}
.list-inline i:hover {
  color: #f37154;
}
